* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2ecce;
}

header {
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f3f0e1;
}

#profile_menu {
	padding-right: 1%;
}

#profile_menu button {
	background-color: #ab9357;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	color: #fff;
	border: 1px solid rgba(27, 31, 35, .15);
	text-align:center;
	padding: 6px 16px;
	font-size: large;
	border-radius: 19px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
}

#profile_menu button:hover {
  background-color: #6e5d34;
}

#profile_menu button:focus {
  background-color: #6e5d34;
  box-shadow: #F4A460 0 0 0 2px;
  outline: none;
}

#img-ico {
	margin-left: 0.5%;
	height: 100%;
	position: relative;
}

#search_bar {
	width: 35%;
}

#search_input {
	width: 100%;
	font-size: 15px;
	border-color:rgba(27, 31, 35, .1);
	padding: 0 1.0rem;
	height: 2.3rem;
	border-radius: 0.7rem;
	position: relative;
}

#search_input:focus {
	box-shadow: #F4A460 0 0 0 1px;
	outline: none;
	/* border-color: #A0522D; */
}

#search_input:focus::placeholder {
  color: transparent;
}
