* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2ecce;
}

header {
	height: 70px;
	width: 100%;
	background-color: #f3f0e1;
	outline:1px solid rgb(189, 191, 159);
}

#ico_link, #img-ico {
	margin-left: 0.5%;
	height: 100%;
}

#search_bar {
	width: 35%;
	margin-right: auto;
	margin-left: 5%;
	display: flex;
	align-items: center;
	flex-wrap:nowrap;
	background-color: white;
	border-color:rgba(27, 31, 35, .1);
	height: 2.4rem;
	border-radius: 0.7rem;
}

#search_bar:hover #search_input, #search_bar:hover{
	background-color: rgb(236, 236, 236);
}

#search_input {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: inherit;
	font-size: 15px;
	padding: 0 1rem 0 1rem;
	/* margin-right: auto; */
}

#search_input:focus {
	box-shadow: none;
	outline: none;
}

#search_input:focus::placeholder {
  color: transparent;
}

#search_button {
	/* height: 100%; */
	height: 1rem;
	margin-right:1rem;
	margin-left:auto;
	border:none;
	background: none;
	cursor: pointer;
} 

#search_icon {
	filter: opacity(0.6) ;
	height: 100%;
	width: 100%;
	/* color: red; */
}

.log_menu {
	padding-right: 1%;
	margin-left: auto; 
	margin-right: 0;
}

.login_block {
  position: relative;
  display: inline-block;
}

.login_content {
  visibility: hidden;
  position: absolute;
  background-color: rgb(245, 237, 208);
  min-width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  right: 0;
  text-align: center;
  border-radius: 0.2rem;
  z-index: 1;
}

.login_block:hover .login_content {
	visibility: visible;
}

.login_content.show {
  visibility: visible; /* Показываем меню при добавлении класса */
}

.log_button:focus {
  background-color: #6e5d34;
  outline: none;
}


.log_button {
	background-color: #e47220;
	/* box-shadow: rgba(27, 31, 35, .1) 0 1px 0; */
	color: #fff;
	border: 1px solid rgba(27, 31, 35, .15);
	text-align:center;
	padding: 8px 16px;
	font-size: 15px;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
}

.log_button:hover {
	background-color: #e47220aa;
}

.login_form {
	display: block;
}

#header {
	height: 100%;
	display: flex;
	width: 100%;
	align-items: center;
}

.profile_block {
	margin-right: 1%;
  position: relative;
  display: inline-block;
}

.profile_button {
	background-color: #ab9357;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	color: #fff;
  padding: 10px 20px;
  border-radius: 10rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Скрытое содержимое dropdown */
.profile_menu_list {
  visibility: hidden;
  position: absolute;
  background-color: rgb(245, 237, 208);
  min-width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  right: 0;
  text-align: center;
  border-radius: 0.2rem;
  z-index: 1;
}

.profile_menu_list a {
  color: rgb(59, 46, 20);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile_button:hover {
  background-color: #6e5d34;
}

.profile_block:hover .profile_menu_list {
	visibility: visible;
}

/* Стиль для ссылок при наведении */
.profile_menu_list a:hover {
  border-radius: inherit;
  background-color: #aaa07f;
}

.profile_menu_list.show {
  visibility: visible; /* Показываем меню при добавлении класса */
}

.profile_button:focus {
  background-color: #6e5d34;
  outline: none;
}