package view

import "github.com/de4et/command-constructor/types"


templ CreateTemplate(user *types.User) {
	@page("Command-constructor", user) {
		<div class="create-menu">
			<h2>
				Создание шаблона
			</h2>
		</div>
	}
}