package view

import "github.com/de4et/command-constructor/types"

templ Header(user *types.User) {
	<header>
	// <div id="header">
	<a href="/" id="ico_link">
		<img src="/static/img/main_ico.jpg" id="img-ico" />
	</a>

	@SearchBar()

	if user != nil {
		@Profile(user.Name)
	} else {
		@LogOnto()
	}
	
	// FIXME: Login form + profile?
	// </div>
	</header>
}