package view

import "github.com/de4et/command-constructor/types"


templ page(title string, user *types.User) {
	<!DOCTYPE html>
	<html>
		<head>
			@Head(title)
		</head>
		<body>
			@Header(user)
			<div class="main">
				{ children... }
			</div>
			// FIXME: Footer?
		</body>
	</html>
}