package view


// TODO: add profile icon
templ Profile(name string) {
	<div class="profile_block">
		<button class="profile_button">{ name }</button>
		<div class="profile_menu_list">
			<a href="/quit">Выйти</a>
		</div>
	</div>
	<script>
		addOpenableBlockListeners(
			".profile_block",
			".profile_button",
			".profile_menu_list"
		);
	</script>
}