package view

templ SearchBar() {
// https://codepen.io/liamj/pen/vYYLGZj
	<div id="search_bar">
		// <label for="search_input">Поиск...</label>
		<input id="search_input" placeholder="Поиск..." />
	</div>
}